@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes wave-1 {
  0% { transform: translateX(0); }
  50% { transform: translateX(-55%); }
  100% { transform: translateX(-0%); }
}

@keyframes wave-2 {
  0% { transform: translateX(0); }
  50% { transform: translateX(-55%); }
  100% { transform: translateX(-0%); }
}

@keyframes wave-3 {
  0% { transform: translateX(0); }
  50% { transform: translateX(-55%); }
  100% { transform: translateX(0%); }
}

@keyframes wave-4 {
  0% { transform: translateX(0); }
  50% { transform: translateX(-55%); }
  100% { transform: translateX(0%); }
}

@keyframes wave-5 {
  0% { transform: translateX(0); }
  50% { transform: translateX(-25%); }
  100% { transform: translateX(-0%); }
}

@keyframes wave-6 {
  0% { transform: translateX(0); }
  50% { transform: translateX(-25%); }
  100% { transform: translateX(-0%); }
}

.animate-wave-1 {
  animation: wave-1 20s infinite ease-in-out;
}

.animate-wave-2 {
  animation: wave-2 20s infinite ease-in-out;
}

.animate-wave-3 {
  animation: wave-3 25s infinite ease-in-out;
}

.animate-wave-4 {
  animation: wave-4 30s infinite ease-in-out;
}

.animate-wave-5 {
  animation: wave-5 35s infinite ease-in-out;
}

.animate-wave-6 {
  animation: wave-6 40s infinite ease-in-out;
}
