@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes wave-1 {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@keyframes wave-2 {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}

@keyframes wave-3 {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@keyframes wave-4 {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}

@keyframes wave-5 {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@keyframes wave-6 {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}

.animate-wave-1 {
  animation: wave-1 10s infinite linear;
}

.animate-wave-2 {
  animation: wave-2 12s infinite linear;
}

.animate-wave-3 {
  animation: wave-3 15s infinite linear;
}

.animate-wave-4 {
  animation: wave-4 18s infinite linear;
}

.animate-wave-5 {
  animation: wave-5 20s infinite linear;
}

.animate-wave-6 {
  animation: wave-6 25s infinite linear;
}

